*{
    box-sizing: border-box;
}
body{
    font-size: 62.5%;
    margin: 0;
    padding: 0;
    background-color: #3ca2a2;
    font-family: 'McLaren', cursive;
}
main{
    display: grid;
    place-content: center;
}
/*PORTADA JUEGO*/
.container-portrait-game{
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.container-portrait-game h1{
    font-size: 100px;
    color: #215a6d;
    -webkit-text-stroke: 4px #2d2d29;
    text-align: center;
}
.btn-start-game{
    font-size: 24px;
    margin: 8px 0;
    margin-right: 50px;
}
.btn-start-game a{
    text-decoration: none;
    color: #2d2d29;
}
figure{
    margin: 0;
    text-align: center;
}
/*JUEGO*/
.container-game{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
canvas{
    background-color: #dfece6;
    margin: 20px;
    border: 5px solid #2d2d29;
}
button{
    margin: 12px;
    padding: 8px 12px;
    background-color: #92c7a3;
    cursor: pointer;
    border-radius: 10px;
    border: 2px solid #215a6d;
    box-shadow: 0 0 10px #215a6d;
    font-family: 'McLaren', cursive;
    color: #2d2d29;
}
p{
    color: #dfece6;
    font-size: 1.5rem;
}
span{
    color: #215a6d;
}
.description-game{
    display: flex;
}
.description-game p{
    margin: 0 12px;
}
#btnReload a{
    text-decoration: none;
    color: #2d2d29;
}
.hidden{
    display: none;
}
.btn-reload-game{
    font-size: 24px;
    margin: 8px 0;
}
@media (max-width:1100px){
    .container-portrait-game h1{
        font-size: 80px;
    }
}
@media (max-width:920px){
    .description-game{
        flex-direction: column;
    }
}
@media (max-width:500px){
    .btn-directions button:first-child{
        display: block;
        margin: 0 auto;
    }
}
@media (max-width:800px){
    figure img{
        width: 60%;
    }
    .container-portrait-game h1{
        font-size: 50px;
        -webkit-text-stroke: 1px #2d2d29;
    }
    .btn-start-game{
        margin-right: 0;
    }
}
@media (max-width:400px){
    .container-portrait-game h1{
        font-size: 30px;
    }
    .description-game p{
        font-size: 18px;
    }
    button{
        font-size: 10px;
    }
}
/*.color1 { #2d2d29 };
.color2 { #215a6d };
.color3 { #3ca2a2 };
.color4 { #92c7a3 };
.color5 { #dfece6 };*/